<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mood Tracker</title>
</head>
<body>
  <h1>Mood Tracker</h1>

  <form method="POST" action="{{ url_for('home') }}">
    <input type="text" name="mood" placeholder="How are you feeling?" required>
    <button type="submit">Add Mood</button>
  </form>

  <form method="GET" action="{{ url_for('download_report') }}">
    <button type="submit"> Download report </button>
  </form>
  <h2>Previous moods</h2>
  <ul>
    {% for m in moods %}
      <li>{{ m }}</li>
    {% endfor %}
  </ul>
</body>
</html>
